extends layout.pug
block content
  h1 #{Park.fullName}
  h5 About    
  p #{Park.description}
  h5 Weather  
  p #{Park.weatherInfo}
  h5 Location 
  p #{Park.states}

    each photo in mediaUrl
     p img(src=#{photo})
  //- form(action=`/parks/${park.parkCode}/${park.fullName}`, method="POST")
  //-   button(type="submit") Save to favorites