extends layout.pug
block content
  h1 #{data.fullName}
  h5 About    
  p #{data.description}
  h5 Weather  
  p #{data.weatherInfo}
  h5 Location 
  p #{data.states}
  
  form(action=`/parks/${data.id}/${data.fullName}`, method="POST")
    button(type="submit") Save to favorites

  each photo in mediaUrlArr
    img.twitterPhotos(src=photo)