extends layout.pug
block content
  h1 #{data.fullName}
  h5 About    
  p #{data.description}
  h5 Weather  
  p #{data.weatherInfo}
  h5 Location 
  p #{data.states}

  each photo in mediaUrlArr
    img(src=photo)
  //- form(action=`/parks/${park.parkCode}/${park.fullName}`, method="POST")
  //-   button(type="submit") Save to favorites