extends layout.pug
block content
  h1 #{data.fullName}
  h5 About    
  p #{data.description}
  h5 Weather  
  p #{data.weatherInfo}
  h5 Location 
  p #{data.states}
  
  form(action=`/parks/${data.id}/${data.fullName}`, method="POST")
    button(type="submit") Save to favorites

  div(class="card-columns")
    each photo in mediaUrlArr
      div(class="card card-block col-12 h-100 no-padding")
        img(class="col-12 no-padding" src=`${photo}`)