extends layout.pug
block content
  h1 #{parkDetails.fullName}
  h5 About    
  p #{parkDetails.description}
  h5 Weather  
  p #{parkDetails.weatherInfo}
  h5 Location 
  p #{parkDetails.states}

  //- form(action=`/parks/${park.parkCode}/${park.fullName}`, method="POST")
  //-   button(type="submit") Save to favorites