extends layout.pug
block content
  h1 #{park}
  h5 About    
  p #{park.description}
  h5 Weather  
  p #{park.weatherInfo}
  h5 Location 
  p #{park.states}

  //- form(action=`/parks/${park.parkCode}/${park.fullName}`, method="POST")
  //-   button(type="submit") Save to favorites